body {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Snap scrolling for mobile */
.snap-y {
    scroll-snap-type: y mandatory;
}

.snap-start {
    scroll-snap-align: start;
}